*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b66cc;
  color: white;
}

input:focus,
a:focus,
button:focus {
  outline: 2px dotted #2b66cc;
}
